.checkOut__form {
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.checkOut__formFrame {
  padding: 0.2em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.checkOut__formLabel{
    padding-bottom: .4em;
    font-family: 'Josefin Sans', sans-serif;
    color:  rgba(75, 75, 75, 0.9);
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.9),
                1px 2px 8px rgba(255, 255, 255, 0.9);
}

.checkOut__formError{
    padding-bottom: 1em;
    font-size: small;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    color:  rgba(255, 0, 0, 0.9);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9),
                1px 2px 8px rgb(255, 255, 255);
}


  .checkOut__formButton {
    margin-top: .8em;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(51, 46, 46);
    font-size: 16px;
    border-radius: 5px;
    border: 0px rgb(212, 208, 198) solid;
    padding: 10px 18px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 5%, rgb(212, 210, 198) 100%);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    box-shadow: 0px 10px 14px -7px rgb(170, 170, 170);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  .checkOut__formButton:hover {
    background: linear-gradient(180deg, rgb(212, 210, 198) 5%, rgb(255, 255, 255) 100%);
  }

.checkOut__formInput{
  margin-bottom: 1em;
  font-family:"Lexend Deca", sans-serif;
  background-color: rgb(212, 210, 198);
  
}
